@import "veriables";
@import "mixins";
#header{
  background: $header-bg;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  img {
    width: 60px;
    height: 40px;
  }
  .nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 40px;
    font-size: 20px;
  }
}